<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My cart</title>

    <div id="header"></div>

</head>
<body ng-app="app" ng-controller="listProduct">

<div id="headtitle" ng-controller="headerController"></div>
<div id="navbar"></div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">My cart</h2>
                <hr>
                <table st-table="displayedCollection" st-safe-src="productRows" class="table table-striped">
                    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th st-sort="seller">Seller</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="price">Price by item</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input st-search="seller" placeholder="Search for seller" class="input-sm form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="name" placeholder="Search for name" class="input-sm form-control" type="search"/>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection" ng-click="show($index)">
                        <td class="col-md-2"><img ng-src="{{row.image}}" class="img-responsive"></td>
                        <td>{{row.seller}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.price}} €</td>
                        <td>
                            <form name="cartForm" ng-submit="submitForm(row.id, row.quantity)" novalidate>
                                <div class="form-group" ng-class="">
                                    <input type="number" min="1" max="{{row.quantityMax}}" ng-minlength="1" ng-maxlength="row.quantityMax" name="quantity" class="form-control" ng-model="row.quantity" required>
                                    <p ng-show="cartForm.$invalid && !cartForm.quantity.$pristine" class="text-danger">Quantity is not available</p>
                                    <input type="submit" class="btn btn-primary" value="Add cart">
                                </div>
                            </form>
                        </td>
                        <td>
                            <button type="button" ng-click="removeRow(row.id, row.quantity, row.price, row)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="5">
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <h1>Total amount : {{totalAmount}} €</h1>
                <button type="button" ng-click="order()" class="btn btn-primary">Order</button>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"   integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="   crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/lib/jquery.cookie.js"></script>
<script src="/lib/angular-ui-notification.min.js"></script>
<script src="/lib/spin.min.js"></script>
<script src="/lib/smart-table.min.js"></script>
<script src="/lib/angular-spinner.js"></script>
<script src="/lib/angular-filter.min.js"></script>
<script src="/js/facebookService.js"></script>
<script src="/js/app.js"></script>
<script src="/js/oauth.js"></script>
<script src="/js/header.js"></script>
<script src="/js/cart.js"></script>

<script>
        $( "#header" ).load( "/assets/html/header.html" );
        $( "#headtitle" ).load( "/assets/html/headtitle.html" );
        $( "#footer" ).load( "/assets/html/footer.html" );
    </script>
</body>
</html>