<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>

    <link rel="import" href="/assets/html/header.html">

</head>
<body ng-app="app" ng-controller="connection">

<div id="headtitle"></div>
<div id="navbar"></div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Log In
            </h2>
            <hr>
    <form name="login" ng-submit="submitForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : login.email.$invalid && !login.email.$pristine }">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ng-model="user.email" required>
            <p ng-show="login.email.$invalid && !login.email.$pristine" class="help-block">An email valid is required</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : login.password.$invalid && !login.password.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>
        <input type="submit" class="btn btn-primary" ng-disabled="login.$invalid" value="Log In">
        <input ng-click="linkFacebook()" class="btn btn-primary" value="Log In with facebook">
    </form>
    <div ng-show="showError" class="alert alert-danger">
        <strong>Error! </strong>Email or password incorrect.
    </div>
            </div>
    </div>
</div>


<div id="footer"></div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"   integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="   crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<script src="/js/facebookService.js"></script>
<script src="/js/app.js"></script>
<script src="/js/oauth.js"></script>
<script src="/js/connection.js"></script>

<script>
        $( "#headtitle" ).load( "/assets/html/headtitle.html" );
        $( "#navbar" ).load( "/assets/html/navbar.html" );
        $( "#footer" ).load( "/assets/html/footer.html" );
    </script>

</body>
</html>